.profile-card{
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    box-shadow: 10px 5px 5px black;
    margin: 1em;
    background-image: linear-gradient(to right, #ffe6e6, #ffe6ff);
    min-width: 30%;
    height: fit-content;
}

.profile-card img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.profile-card > *{
    margin: 1em;
}

.welcome-head{
    display: flex;
    flex-direction: row;
}

.welcome-head p{
    margin: 1em;
}

.cv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.iframe{
    width: 50%;
    height: 50%;
}

.services{
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.services div{
    left: 0;
    width: 30%;
    height: fit-content;
    text-align: center;
    background-color: pink;
    padding: 1em;
    border-radius: 12px;
    margin: 1em 1em 1em 0;
}

.contact{
    width: 50%;
    background-image: linear-gradient(to right, #ffe6e6, #ffe6ff);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.contact button{
    margin-top: 1em;
}

.contact *{
    padding: 1em;
}

.contact form{
    display: flex;
    flex-direction: column;
}

#message{
    min-height: 250px;
    max-height: 400px;
}

@media screen and (max-width: 1000px){
    .profile-card{
        min-width: 40%;
    }

    .services div{
        width: 50%;
    }

    .contact{
        width: 80%;
    }
}

@media screen and (max-width: 800px){
    .welcome-head{
        flex-direction: column;
        width: fit-content;
    }

    .cv{
        flex-direction: column;
    }

    .services{
        flex-direction: column;
    }
    .services div{
        width: fit-content;
    }

    .contact{
        width: 100%;
    }
}
