@import "tailwindcss";

*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
}

nav  *{
    background-color: pink;
}


.logo  img{
    height: 40px;
    position: fixed;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.menu{
    list-style-type: none;
    margin: 0 0 0 40px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position:fixed;
    top: 0;
    height: 40px;
}

.menu-mobile{
    display: none;
    flex-direction: column;
    top: 0;
    z-index: 1;
    margin: 0;
    padding-left: .5em;
    align-items: flex-start;
    position: fixed;
    width: 100%;
    margin-top: 40px;
}

.menu-mobile li{
    padding: 0.5em 0 0.5em 0;
}

.profile-card{
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    box-shadow: 10px 5px 5px black;
    margin: 1em;
    background-image: linear-gradient(to right, #ffe6e6, #ffe6ff);
    min-width: 30%;
}

.profile-card img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.profile-card > *{
    margin: 1em;
}


.welcome-head{
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}

.welcome-head p{
    margin: 1em;
}


@media screen and (max-width: 1000px){
    .profile-card{
        min-width: 40%;
    }
}

@media screen and (max-width: 800px){
    .profile-card{
        width: fit-content;
    }

    .welcome-head{
        flex-direction: column;
    }
}

@media screen and (max-width: 470px){

    .menu{
        visibility: hidden;
    }

    .welcome-head{
        margin-top: 2em;
    }
}