*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
}

nav > *{
    background-color: pink;
}


.logo  img{
    height: 40px;
    position: fixed;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:hover{
    text-decoration: underline;
    background-color: yellow;
    font-weight: bolder;
}

.menu{
    list-style-type: none;
    margin: 0 0 0 40px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position:fixed;
    top: 0;
    height: 40px;
}

.profile-card{
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    box-shadow: 10px 5px 5px black;
    margin: 1em;
    background-image: linear-gradient(to right, #ffe6e6, #ffe6ff);
    min-width: 30%;
}

.profile-card img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.profile-card > *{
    margin: 1em;
}


.welcome-head{
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}

.welcome-head p{
    margin: 1em;
}


@media screen and (max-width: 1000px){
    .profile-card{
        min-width: 50%;
    }
}

@media screen and (max-width: 768px){
    .profile-card{
        width: fit-content;
    }

    .welcome-head{
        flex-direction: column;
    }
}

@media screen and (max-width: 470px){
    nav{
        flex-direction: column;
    }

    .logo img{
        position: relative;
    }
    
    .menu{
        flex-direction: column;
        top: 0;
        z-index: 1;
        margin: 0;
        padding-left: .5em;
        height: auto;
        align-items: flex-start;
        position: relative;
    }

    li{
        padding: 1em 0 1em 0;
    }

    .welcome-head{
        margin-top: 0;
    }
}