*{
    font-family: "Roboto", sans-serif;
    border-style: border-box;
}

nav > *{
    display: inline-block;
}

li{
    display: inline;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile-card {
    width: 50%;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
}

.profile-card img{
    width: 15%;
    height: 15%;
    border-radius: 50%;
    box-shadow: .1em;
}

.profile-card > *{
    margin: 1em;
}